deploy/env
dev/
.DS_Store
*/.DS_Store
dev/config-bot.toml
dev/config-agent.toml
dev/config-api.toml
query.txt
target
pony.log
deploy/servers
query.txt
query2.txt
node_modules
users.json
xray-config-mk2nl.json
connection-lines.txt
dev/data
deploy/env
snapshots/*.bin
