[Unit]
Description=Pony - Daemon to send metrics to carbon 
After=network.target

[Service]
User=root
Group=root

WorkingDirectory=/root/ponytoring/

ExecStart=/root/ponytoring/pony

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
