[Unit]
Description=Pony Service
After=xray.service
Requires=xray.service

[Service]
Type=simple
ExecStart=/root/pony/target/release/pony --config /root/pony/config.toml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
